# Student Performance Indicator

## Life Cycle of a Machine Learning Project
* Understanding the Problem Statement
* Data Collection
* Data Checks to Perform
* Exploratory Data Analysis
* Data Preprocessing
* Model Training 
* Choose Best Model

## 1. Problem Statement
This project understands how the student's performance (test scores) is affected by other variables such as Gender, Ethnicity, Parental level of Education, Lunch, and Test preparation.

## 2. Data Collection
Dataset used is 'Students Performance in Exams', obtained from Kaggle, which consists of the marks secured by students in various subjects.

### 2.1. Import Required Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

### 2.2. Load Dataset

In [2]:
df = pd.read_csv('./data/StudentsPerformance.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

## 3. Data Checks to Perform

### 3.1. Check for Missing Values

In [3]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

No missing values are present in this dataset.

### 3.2. Check for Duplicates

In [4]:
df.duplicated().sum()

np.int64(0)

There are no duplicates in the dataset.

### 3.4. Check Data Types

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [6]:
df.shape

(1000, 8)

We understand that there are a total of 8 features in this dataset, with 5 of them being categorical while the remaining 3 are numerical.

### 3.5. Check the Unique Values of each Column

In [7]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [8]:
for i in range(0,5):
    print(df.columns[i], ":", df[df.columns[i]].unique())
    print()

gender : ['female' 'male']

race/ethnicity : ['group B' 'group C' 'group A' 'group D' 'group E']

parental level of education : ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']

lunch : ['standard' 'free/reduced']

test preparation course : ['none' 'completed']

* The above shows the different unique values, i.e., the different categories, in each of the 5 categorical features.
* The below code gives the number of unique values the categorical as well as the numerical features have.

In [9]:
df.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

### 3.6. Check Statistics of Dataset

In [10]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

* The means and standard deviations are very close for all the 3 numerical attributes of the dataset, with the mean being between 66 and 70, and the standard deviation between 14.5 and 15.5.
* The maximum of all the scores are 100, while math is the only subject to 0 as minimum whereas minimum values for reading and writing scores are higher at 17 and 10, respectively.

### 3.7. Formatting the Column names

In [11]:
df.columns = df.columns.str.replace(' ', '_')
print(df.columns)

Index(['gender', 'race/ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course', 'math_score', 'reading_score',
       'writing_score'],
      dtype='object')

In [12]:
df.rename(columns={'race/ethnicity':'race_ethnicity'}, inplace=True)

### 3.8. Adding Additional Columns - 'Total Score' and 'Average Score'

In [13]:
df['total_score'] = df['math_score'] + df['reading_score'] + df['writing_score']
df['average_score'] = np.round(df['total_score']/3,2)
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total_score,average_score
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.67
1,female,group C,some college,standard,completed,69,90,88,247,82.33
2,female,group B,master's degree,standard,none,90,95,93,278,92.67
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.33
4,male,group C,some college,standard,none,76,78,75,229,76.33

### 3.9. Exploring Dataset

In [14]:
print("Number of students who scored 100 in -")
print("Math:",df[df['math_score']==100.00]['average_score'].count())
print("Reading:", df[df['reading_score']==100.00]['average_score'].count())
print("Writing:", df[df['writing_score']==100.00]['average_score'].count())

Number of students who scored 100 in -
Math: 7
Reading: 17
Writing: 14

In [15]:
print("Number of students who scored minimum in - ")
print("Math:", df[df['math_score']==df['math_score'].min()]['average_score'].count())
print("Reading:", df[df['reading_score']==df['reading_score'].min()]['average_score'].count())
print("Writing:", df[df['writing_score']==df['writing_score'].min()]['average_score'].count())

Number of students who scored minimum in -
Math: 1
Reading: 1
Writing: 1

## 4. Exploring Dataset (Visualization)

## 5. Saving Preprocessed Dataset

In [16]:
df.to_csv('./data/Preprocessed_StudentsPerformance.csv', index=False)